@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  -webkit-box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #d6f599;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.burger {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 1fr;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
}

.burger__line {
  display: inline-block;
  width: 100px;
  height: 15px;
  background: #436436;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.25s ease-in;
  transition: -webkit-transform 0.25s ease-in;
  transition: transform 0.25s ease-in;
  transition: transform 0.25s ease-in, -webkit-transform 0.25s ease-in;
}

.burger__line--1 {
  -ms-grid-column: 1;
  grid-column: 1/1;
  grid-row: 1/span(1);
}

.burger__line--2 {
  -ms-grid-column: 1;
  grid-column: 1/1;
  grid-row: 2/span(1);
}

.burger__line--3 {
  -ms-grid-column: 1;
  grid-column: 1/1;
  grid-row: 3/span(1);
}

.burger__toggle {
  position: absolute;
  z-index: 5;
  opacity: 20%;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/*

.bar {
    position: absolute;
    width: 100px;
    height: 15px;
    background: #436436;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
}

#button {
    width: 100px;
    height: 65px;
}

#bar-0 {
    top: -25px;
    animation: bar0-active-rev 0.5s ease-in-out reverse;
}

#bar-1 {
    top: 0px;
    animation: bar1-active-rev 0.5s ease-in-out reverse;
}

#bar-2 {
    top: 25px;
    animation: bar2-active-rev 0.5s ease-in-out reverse;
}

.active {

    & #bar-0 {
        animation: bar0-active 0.5s ease-in-out forwards;
    }

    & #bar-1 {
        animation: bar1-active 0.5s ease-in-out forwards;
    }

    & #bar-2 {
        animation: bar2-active 0.5s ease-in-out forwards;
    }
}

.no-animation {
    animation: none !important;
}

@keyframes bar0-active {
    0% {
        left: 0px;
        top: -25px;
        width: 100px;
        height: 15px;
    }

    100% {
        left: 0px;
        top: 0px;
        width: 100px;
        height: 15px;
        transform: rotate(-45deg);
    }
}

@keyframes bar0-active-rev {
    0% {
        left: 0px;
        top: -25px;
        width: 100px;
        height: 15px;
    }

    100% {
        left: 0px;
        top: 0px;
        width: 100px;
        height: 15px;
        transform: rotate(45deg);
    }
}

@keyframes bar1-active {
    0% {
        left: 0px;
        top: 0px;
        width: 100px;
        height: 15px;
    }

    100% {
        left: 50px;
        top: 7.5px;
        width: 0px;
        height: 0px;
    }
}

@keyframes bar1-active-rev {
    0% {
        left: 0px;
        top: 0px;
        width: 100px;
        height: 15px;
    }

    100% {
        left: 50px;
        top: 7.5px;
        width: 0px;
        height: 0px;
    }
}

@keyframes bar2-active {
    0% {
        left: 0px;
        top: 25px;
        width: 100px;
        height: 15px;
    }

    100% {
        left: 0px;
        top: 0px;
        width: 100px;
        height: 15px;
        transform: rotate(45deg);
    }
}

@keyframes bar2-active-rev {
    0% {
        left: 0px;
        top: 25px;
        width: 100px;
        height: 15px;
    }

    100% {
        left: 0px;
        top: 0px;
        width: 100px;
        height: 15px;
        transform: rotate(-45deg);
    }
}

*/
