@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  -webkit-box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #26343a;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: frame-background 20s linear infinite;
          animation: frame-background 20s linear infinite;
}

@-webkit-keyframes frame-background {
  0% {
    background: #10172b;
  }
  13% {
    background: #fcce00;
  }
  25% {
    background: #c9ecfc;
  }
  38% {
    background: #ccfcd8;
  }
  50% {
    background: #dd6b00;
  }
  63% {
    background: #805315;
  }
  75% {
    background: #000D2A;
  }
  83% {
    background: #0A0734;
  }
  100% {
    background: #10172b;
  }
}

@keyframes frame-background {
  0% {
    background: #10172b;
  }
  13% {
    background: #fcce00;
  }
  25% {
    background: #c9ecfc;
  }
  38% {
    background: #ccfcd8;
  }
  50% {
    background: #dd6b00;
  }
  63% {
    background: #805315;
  }
  75% {
    background: #000D2A;
  }
  83% {
    background: #0A0734;
  }
  100% {
    background: #10172b;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#triangle-01, #triangle-02, #sun, #moon, #sand, #shadow, #hole {
  position: absolute;
}

#pic {
  width: 400px;
  height: 400px;
}

#triangle-01 {
  top: 200px;
  left: 150px;
  z-index: 9;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #fff;
  -webkit-mask-image: linear-gradient(30deg, black 63.5%, rgba(0, 0, 0, 0) 41.5%);
          mask-image: linear-gradient(30deg, black 63.5%, rgba(0, 0, 0, 0) 41.5%);
  -webkit-animation: triangle-01-animation 20s linear infinite;
          animation: triangle-01-animation 20s linear infinite;
}

@-webkit-keyframes triangle-01-animation {
  0% {
    background: #838383;
  }
  13% {
    background: #ffffff;
  }
  25% {
    background: #7a7a7a;
  }
  38% {
    background: black;
  }
  50% {
    background: #7e7e7e;
  }
  63% {
    background: #ffffff;
  }
  75% {
    background: #7e7e7e;
  }
  83% {
    background: black;
  }
  100% {
    background: #808080;
  }
}

@keyframes triangle-01-animation {
  0% {
    background: #838383;
  }
  13% {
    background: #ffffff;
  }
  25% {
    background: #7a7a7a;
  }
  38% {
    background: black;
  }
  50% {
    background: #7e7e7e;
  }
  63% {
    background: #ffffff;
  }
  75% {
    background: #7e7e7e;
  }
  83% {
    background: black;
  }
  100% {
    background: #808080;
  }
}

#triangle-02 {
  top: 200px;
  left: 150px;
  z-index: 9;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #aaaaaa;
  -webkit-mask-image: linear-gradient(30deg, rgba(0, 0, 0, 0) 63.5%, black 41.5%);
          mask-image: linear-gradient(30deg, rgba(0, 0, 0, 0) 63.5%, black 41.5%);
}

#sun {
  top: 125px;
  left: 90px;
  width: 50px;
  height: 225px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation: sun-animation 20s linear infinite;
          animation: sun-animation 20s linear infinite;
}

@-webkit-keyframes sun-animation {
  0% {
    top: 125px;
    left: 90px;
    height: 225px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  25% {
    top: 75px;
    left: 175px;
    height: 150px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    top: 135px;
    left: 250px;
    height: 225px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  75% {
    top: 295px;
    left: 175px;
    height: 125px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    top: 125px;
    left: 90px;
    height: 225px;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes sun-animation {
  0% {
    top: 125px;
    left: 90px;
    height: 225px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  25% {
    top: 75px;
    left: 175px;
    height: 150px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    top: 135px;
    left: 250px;
    height: 225px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  75% {
    top: 295px;
    left: 175px;
    height: 125px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    top: 125px;
    left: 90px;
    height: 225px;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

#moon {
  top: 125px;
  left: 90px;
  width: 50px;
  height: 225px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-animation: moon-animation 20s linear infinite;
          animation: moon-animation 20s linear infinite;
}

@-webkit-keyframes moon-animation {
  0% {
    top: 135px;
    left: 250px;
    height: 225px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  25% {
    top: 295px;
    left: 175px;
    height: 125px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    top: 125px;
    left: 90px;
    height: 225px;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  75% {
    top: 75px;
    left: 175px;
    height: 150px;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    top: 135px;
    left: 250px;
    height: 225px;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@keyframes moon-animation {
  0% {
    top: 135px;
    left: 250px;
    height: 225px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  25% {
    top: 295px;
    left: 175px;
    height: 125px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    top: 125px;
    left: 90px;
    height: 225px;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  75% {
    top: 75px;
    left: 175px;
    height: 150px;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    top: 135px;
    left: 250px;
    height: 225px;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.circle-sun {
  background: #FFE600;
}

.circle-moon {
  background: #ccc;
}

#sand {
  top: 250px;
  left: 0px;
  z-index: 10;
  width: 400px;
  height: 150px;
  background: #FBF5A8;
  -webkit-animation: sand-animation 20s ease-in-out infinite;
          animation: sand-animation 20s ease-in-out infinite;
}

@-webkit-keyframes sand-animation {
  0% {
    background: #0a0a53;
  }
  25% {
    background: #FBF5A8;
  }
  50% {
    background: #383a35;
  }
  75% {
    background: #8a7994;
  }
  100% {
    background: #0a0a53;
  }
}

@keyframes sand-animation {
  0% {
    background: #0a0a53;
  }
  25% {
    background: #FBF5A8;
  }
  50% {
    background: #383a35;
  }
  75% {
    background: #8a7994;
  }
  100% {
    background: #0a0a53;
  }
}

#shadow {
  top: 250px;
  left: 0px;
  z-index: 15;
  width: 400px;
  height: 150px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-clip-path: polygon(128px 0%, 273px 0%, 50% 50%);
          clip-path: polygon(128px 0%, 273px 0%, 50% 50%);
  -webkit-animation: shadow-animation 10s linear infinite;
          animation: shadow-animation 10s linear infinite;
}

@-webkit-keyframes shadow-animation {
  0% {
    -webkit-clip-path: polygon(128px 0%, 273px 0%, 100% 0%);
            clip-path: polygon(128px 0%, 273px 0%, 100% 0%);
  }
  25% {
    -webkit-clip-path: polygon(128px 0%, 273px 0%, 75% 25%);
            clip-path: polygon(128px 0%, 273px 0%, 75% 25%);
  }
  50% {
    -webkit-clip-path: polygon(128px 0%, 273px 0%, 50% 20%);
            clip-path: polygon(128px 0%, 273px 0%, 50% 20%);
  }
  75% {
    -webkit-clip-path: polygon(128px 0%, 273px 0%, 25% 25%);
            clip-path: polygon(128px 0%, 273px 0%, 25% 25%);
  }
  100% {
    -webkit-clip-path: polygon(128px 0%, 273px 0%, 0% 0%);
            clip-path: polygon(128px 0%, 273px 0%, 0% 0%);
  }
}

@keyframes shadow-animation {
  0% {
    -webkit-clip-path: polygon(128px 0%, 273px 0%, 100% 0%);
            clip-path: polygon(128px 0%, 273px 0%, 100% 0%);
  }
  25% {
    -webkit-clip-path: polygon(128px 0%, 273px 0%, 75% 25%);
            clip-path: polygon(128px 0%, 273px 0%, 75% 25%);
  }
  50% {
    -webkit-clip-path: polygon(128px 0%, 273px 0%, 50% 20%);
            clip-path: polygon(128px 0%, 273px 0%, 50% 20%);
  }
  75% {
    -webkit-clip-path: polygon(128px 0%, 273px 0%, 25% 25%);
            clip-path: polygon(128px 0%, 273px 0%, 25% 25%);
  }
  100% {
    -webkit-clip-path: polygon(128px 0%, 273px 0%, 0% 0%);
            clip-path: polygon(128px 0%, 273px 0%, 0% 0%);
  }
}

#hole {
  left: -83px;
  top: -83px;
  z-index: 20;
  width: 250px;
  height: 250px;
  background: #24242400;
  border: 160px solid #242424;
  border-radius: 300px;
  -webkit-animation: hole-animation 20s ease-in-out infinite;
          animation: hole-animation 20s ease-in-out infinite;
}

@-webkit-keyframes hole-animation {
  80% {
    background: #24242400;
  }
  85% {
    background: #242424ff;
  }
}

@keyframes hole-animation {
  80% {
    background: #24242400;
  }
  85% {
    background: #242424ff;
  }
}
