@use 'template';
.frame {
    @include template.frame;
}

.center {
    @include template.center-v1;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.border-rounded {
    border-radius: 0.4rem;
}

.box-shadow-light {
    box-shadow: 4px 4px 16px #0000002a;
}

.stripes {
    transform: translate(0rem, -10rem) rotate(45deg);
    width: 25rem;
    height: 25rem;
}

.stripe {
    // Appearance
    width: 40rem;
    height: 0.3rem;
    background-color: #333;
}

.penrose {
    width: 15rem;
    height: 15rem;
    background-color: #555;
}

@mixin penrose-bar-light {
    background-color: #ddd;
}

@mixin penrose-bar-middle {
    background-color: #bbb;
}

@mixin penrose-bar-dark {
    background-color: #999;
}

.penrose-bars {
    width: 8rem;
    height: 1.5rem;
    transition: all 0.5s ease-in-out;
}

.penrose-bar-1 {
    transform: rotate(120deg) skew(-30deg) translate(100px, 100px);
    @include penrose-bar-light();
}

.penrose-bar-2 {
    transform: rotate(60deg) skew(30deg) translate(-65.5px, 40px);
    @include penrose-bar-light();
}

.penrose-bar-3 {
    transform: rotate(60deg) skew(-30deg) translate(-33px, 16px);
    @include penrose-bar-middle();
}

.penrose-bar-4 {
    transform: rotate(0deg) skew(30deg) translate(-68.5px, 18px);
    @include penrose-bar-middle();
}

.penrose-bar-5 {
    transform: rotate(0deg) skew(-30deg) translate(-34px, 42px);
    @include penrose-bar-dark();
}

.penrose-bar-6 {
    transform: rotate(120deg) skew(30deg) translate(-1.5px, 76px);
    @include penrose-bar-dark();
}

.penrose-bar-shorter {
    width: 3rem;
    transform: rotate(60deg) skew(30deg) translate(-53px, 5px);
    @include penrose-bar-light();
}

.penrose:hover {
    & .penrose-bar-1,
    & .penrose-bar-2,
    & .penrose-bar-shorter {
        @include penrose-bar-dark();
    }
    & .penrose-bar-3,
    & .penrose-bar-4 {
        @include penrose-bar-light();
    }
    & .penrose-bar-5,
    & .penrose-bar-6 {
        @include penrose-bar-middle();
    }
}